{{# partial "titulo" }}
    <title>GeSoc - Home</title>
{{/partial}}


{{# partial "contenido" }}
    <section class="fondo-gris">
<link rel="shortcut icon" href="/favicon.ico" />
  <div class="px-6 py-4 whitespace-no-wrap text-center text-sm leading-5 text-2xl"> 
 <h1>Home Gesoc Proyectos Sociales</h1><br>
        <h2>Sobre nuestro sitio</h2>
</div>
        <p><br><br> 

            La Fundación Proyecto Emprender (PROEM) es una organización sin fines de lucro fundada en el año 2003.
Su visión reside en contribuir a la obtención del pleno empleo en la República Argentina. En dicho sentido,
su misión es acompañar la preparación laboral de las personas, promover el desarrollo y generación de
emprendimientos y fortalecer organizaciones productivas ya constituidas. PROEM promueve la inclusión
social a través del trabajo. La Fundación acoge a toda persona que necesite apoyo, asesoramiento y/o
acompañamiento en proyectar sus ideas como herramientas para generar un trabajo autónomo, así como
a jóvenes y adultos que necesitan orientación y capacitación para mejorar su formación con el fin de
conseguir un empleo.
 </p> <br>
Leandro es el presidente de esta Fundación y junto con Belén, coordinadora de proyectos, Ignacio,
coordinador de comunicación y Analía, coordinadora de administración, realizan las tareas de
administración y gestión de la entidad con el mayor de sus esfuerzos. Como muchas ONGs y Pymes,
cuenta con un equipo de trabajo no muy grande, sin especialistas en su staff relacionados con el
aprovechamiento de recursos tecnológicos ni desarrollo de software y, aunque cuentan con un contador de
la Fundación, no posee herramientas que reduzcan las dificultades de la gestión de sus actividades en el
día a día. Con el objetivo de acompañar la resolución de sus problemáticas cotidianas en la gestión se
evalúa la posibilidad de implementar un sistema de información de contabilidad de gestión.
        

        <p>

        </p>

        <p>
            
        </p>
  <br><br>
<br>

        <ol>
            <li>Somos una empresa joven</li>
            <li>Altos valores</li>
            <li>Decimos lo que la gente quiere escuchar</li>
        </ol>

        Para saber más sobre nuestros valores presionar <a href="/nuestros-valores">acá</a>
    </section>

    <section>
        <h2>Sobre nuestros clientes</h2>

        <p>un bonito texto sobre nuestros clientes.</p>
    </section>
{{/partial}}

{{> layout.html.hbs }}