<html>  
    <head>
        <title>  Gesocs- Gestión de Proyectos </title>
        <link rel="stylesheet" href="http://localhost:8090/main.css" type="text/css">
    </head>
    <header id="main-header">
    <div  align="center" ><br>GeSoc Gestión de Proyectos Sociales </div>
    </header>

    <div  align="center">
            <h1> <br>{{estadoMessage}}
               <br><br> Iniciar Sesión<br>
            </h1>

            <form action="/login" method="post">
            Nombre de Usuario: <input name="usuario" class="login-input" type="text" placeholder="Ingrese su usuario" required><br><br>
            Contraseña: <input name="contrasenia" class="login-input" type="password"  placeholder="Ingrese su contraseña" required><br><br>
            <input class="login-input" type="submit" value="Iniciar sesion"><br><br><br><br>
            </form>
        </div>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <footer id="main-footer" align="center">
        <p> @2020 Los Group12 Todos los Bugs Reservados </p>
    </footer> <!-- / #main-footer -->

    </body>

</html>